<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:si="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/integration
           http://www.springframework.org/schema/integration/spring-integration-1.0.xsd">

    <bean id="orderSplitter" class="com.onlineordering.order.OrderSplitter"/>

    <bean id="drinkRouter" class="com.onlineordering.order.DrinkRouter"/>

    <bean id="prepareDrinks" class="com.onlineordering.order.PrepareDrinks"/>

    <bean id="processedItems" class="com.onlineordering.order.ProcessItemsForOrder"/>

</beans>